!!! 5
%html(lang = "en")
  %head
    %title Nagix
    %link{:rel => "stylesheet", :href => "file:///Users/tomdz/Documents/open-source/Nagix/public/css/nagix.css", :type => "text/css"}
  %body{ :style => "padding-top: 50px;" }
    .topbar
      .fill
        .container
          %a{ :class => "brand", :href => "/" }Nagix
          %ul(class = "nav")
            %li(class = "active")
              %a(href = "/") Home
            %li
              %a(href = "/nagios") Nagios
    .container
      .row
        .span4
        .span12
          = yield
      %footer
        %p Powered by Nagix v0.0.1
