- @page = "servicegroups"
:javascript
  $.extend( $.fn.dataTableExt.oStdClasses, {
      "sSortAsc": "header headerSortDown",
      "sSortDesc": "header headerSortUp",
      "sSortable": "header"
  }); 
  $(document).ready(function() {
    var dataTable = $("#servicegroups")
    var columnDefs = [
      { "aTargets" : [0], "sType": "html", "fnRender" : function(obj) {
        var group = obj.aData[obj.iDataColumn]
        return "<a href='/servicegroup?group=" + encodeURIComponent(group) + "'>" + group + "</a>"
      } }
    ]
    dataTable.dataTable({
      "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
      "aoColumnDefs" : columnDefs,
      "sPaginationType": "bootstrap",
      "oLanguage": {
        "sLengthMenu": "_MENU_ records per page"
      }
    })
    $.getJSON("/1.0/rest/serviceGroups.json", function(data) {
      var tableData = []
      for (var idx in data) {
        var item = data[idx]
        tableData.push([item.name, item.alias, item.num_services, item.members.split(',').join(', ')])
      }
      dataTable.fnAddData(tableData)
    })
  })
%table{:id => "servicegroups", :cellpadding => "0", :cellspacing => "0", :border => "0", :class => "bordered-table zebra-striped"}
  %thead
    %tr
      %th Name
      %th Alias
      %th Number of services
      %th Members
  %tbody
