- @page = "services"
:javascript
  $.extend( $.fn.dataTableExt.oStdClasses, {
      "sSortAsc": "header headerSortDown",
      "sSortDesc": "header headerSortUp",
      "sSortable": "header"
  }); 
  $(document).ready(function() {
    var dataTable = $("#services")
    var columnDefs = [
      { "aTargets" : [0], "sType": "html", "fnRender" : function(obj) {
        var service = obj.aData[obj.iDataColumn]
        var host = obj.aData[3]
        return "<a href='/service?host=" + encodeURIComponent(host) + "&service=" + encodeURIComponent(service) + "'>" + service + "</a>"
      } },
      { "aTargets" : [2], "sType": "html", "fnRender" : function(obj) {
        var data = obj.aData[obj.iDataColumn]
        var groups = data.split(',')
        var str = ''
        for (var idx in groups) {
          str += "<a href='/servicegroup?group=" + encodeURIComponent(groups[idx]) + "'>" + groups[idx] + "</a><br/>"
        }
        return str
      } },
      { "aTargets" : [3], "sType": "html", "fnRender" : function(obj) {
        var host = obj.aData[obj.iDataColumn]
        return "<a href='/host?host=" + encodeURIComponent(host) + "'>" + host + "</a><br/>"
      } }
    ]
    dataTable.dataTable({
      "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
      "aoColumnDefs" : columnDefs,
      "sPaginationType": "bootstrap",
      "oLanguage": {
        "sLengthMenu": "_MENU_ records per page"
      }
    })
    $.getJSON("/1.0/rest/services.json", function(data) {
      var tableData = []
      for (var idx in data) {
        var item = data[idx]
        tableData.push([item.display_name, item.description, item.groups, item.host_name, item.host_address, item.host_alias])
      }
      dataTable.fnAddData(tableData)
    })
  })
%table{:id => "services", :cellpadding => "0", :cellspacing => "0", :border => "0", :class => "bordered-table zebra-striped"}
  %thead
    %tr
      %th Name
      %th Description
      %th Groups
      %th Host name
      %th Host IP
      %th Host alias
  %tbody
